.header {
    margin: 20px 40px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.header div {
    z-index: 10;
    color: white;
}

.header h1 {
    z-index: 10;
    color: white;
    z-index: 10000000;
    font-family: 'Inter', 'Helvetica Neue', 'sans-serif';
    font-weight: 400;
    margin: 0px;
    padding:0px;
    line-height:40px;
}

.header a {
    z-index: 10;
    text-decoration: none;
    color: white;
    font-family: 'Inter', 'Helvetica Neue', 'sans-serif';
    font-weight: 400;
}

.header p {
    z-index: 10;
    color: white;
    margin-top:0px;
    padding:0px;
    font-family: 'Inter', 'Helvetica Neue', 'sans-serif';
    font-weight: 400;
}