body{overflow:hidden;}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}
.box{
  height: 100px;
  width: 100px;
  background: lightblue;
  position:absolute;
}

.canvas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.slideContent {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 2;
}
.slideContent h1 {
  color: #fff;
  font-size: 50px;
}
.slideContent p {
  color: #fff;
  font-size: 30px;
}

.line {position: absolute; top: 100px; height: 5px; background:black; width: 120px;}
.line1 {top: 200px; }
.line2 {top: 300px; }
.line3 {top: 400px; }
.line4 {top: 500px; }