body{overflow:hidden;background: #0e0d0d; font-family: 'Prata', serif;}

a {
  color: white;
  font-family: 'Prata', serif;
  text-decoration: none;
}
p, h1, h2, h3, h4 {
  color: white;
}
p, ul, li {
  font-family: 'Roboto Condensed', sans-serif;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow:hidden;
}
.box{
  height: 100px;
  width: 100px;
  background: lightblue;
  position:absolute;
}

.canvas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow:hidden;
}

/* .slideContent {
  padding-top: calc(100vh - 270px);
  padding-left: calc(100vw - 80vw);
  left: 10%;
  z-index: 2;
} */
.projects h1, .projects h2, .projects p {
  color: white;
}
.projects {
 position: absolute;
 z-index:0;
 top: 0;
 left:0;
 height: 100vh;
 width:100%;
}

.slideTitle{
  font-weight:bold;
  font-size: 60px;
  font-kerning: 1em;
}


.line {position: absolute; top: 100px; height: 5px; background:black; width: 120px;}
.line1 {top: 200px; }
.line2 {top: 300px; }
.line3 {top: 400px; }
.line4 {top: 500px; }


.homeTitles {
  position: absolute;
  top: 40%;
  left: 100px;
  max-width:100%;
  height: 150px;
  color: #fff;
  z-index:100;
  background: transparent;
}
.homeTitles h2, .homeTitles p, .homeTitles a {
  color: #fff;
}

@media (max-width: 992px) {
  .homeTitles {
    left: 40px;
  }
  .slideTitle{
    font-weight:bold;
    font-size: 30px;
    line-height: 50px;
    font-kerning: 1em;
  }
}